<div><header class="s-header">
		<section id="topbar" class="d-none d-lg-block">
		  <div class="container">
			<div class="contact-info pull-right top-bar"> <i class="fa" style="color:black;padding: 5px;">ENG</i> <a href="#"><i class="fa fa-pencil-square-o" aria-hidden="true" style="color:black;padding: 5px;"></i><font color="black">HOW TO ENGAGE</font></a> 
		   
			</div>
			<div class="social-links pull-left" style="margin-left: -46px;"> <a href="#" class="twitter"><i class="fa fa-twitter" style="color:black;padding: 5px;"></i></a><b>|</b><a href="#" class="facebook"><i class="fa fa-facebook" style="color:black;padding: 5px;"></i></a><b>|</b> <a href="#" class="instagram"><i class="fa fa-instagram" style="color:black;padding: 5px;"></i></a><b>|</b><a href="#" class="google-plus"><i class="fa fa-google-plus" style="color:black;padding: 5px;"></i></a><b>|</b><a href="#" class="linkedin"><i class="fa fa-linkedin" style="color:black;padding: 5px;"></i></a> </div>
		  </div>
		</section>	
    </header>
    </div>