<div *ngIf="appFooter" class="ui footer basic segment">
    <div class="footer-grid">
      <div class="ten wide mobile eleven wide tablet eleven wide column">
        <!-- <a href=""> -->
            <div class="ui container stackable two column grid">
              <div class="column left floated left aligned">
                  <div>
                      <div><div style="display: inline;font-weight: bold;font-style: italic;font-size: 64px;color: rgba(255, 255, 255, 0.493);">UDAY</div></div>
                         <!-- <div><div style="display: inline-block;margin-left: 180px;margin-top: -108px;color:white;"><br>AFFILIATES<br>CAREERS<br>lEGAL<br>TERMS OF SERVICE<br>ACCCESSIBILITY<br>TRADEMARK POLICY</div></div> -->
                         <!-- <div style="float:right;margin-right: -45em;">
                            <div class="">
                                <a href="https://www.facebook.com/uday.fintech.3" target="_blank">
                                    <div style="background-image: url('images/facebook_logos_PNG19751.png');margin-top: -5em;" class="logo-img-homefooter"></div>
                                    <!-- <i class="fa fa-facebook-f" style="color:white;font-size:31px;margin-top: 0.3em;
                                                        margin-left: 0.4em;"></i> 
                                                        
                                </a>
                            </div>
                        </div> -->
                      </div>
                        
                        
            </div>
          </div>
        
      </div>
      <div class="two wide mobile one wide tablet one wide computer column">
        <!-- <i class="close icon closeBtn-dial-code" (click)="appFooter=false"></i> -->
      </div>
      <div class="column computer only">
        <img class="ui tiny centered image" src="">
      </div>
    </div>
  </div>
