
*{
  font-family: "Raleway",sans-serif;
}

.breadcrumb-bg-color {
    background-color: lightgrey;
  }
.ui.breadcrumb a.breadcrumb-font {
  color:black;
  font-size: 1.0em;
  line-height: 17px;
  font-weight:bold;
  }
  .ui.breadcrumb .active.section {
    color:black;
    font-size: 1.0em;
    line-height: 17px;
    font-weight:bold;
  }
  .ui.breadcrumb .divider {
    color: black;
  }
