<!-- 

       <div class="six wide tablet computer only column padding-top-1rem" style="background-color:lightgrey;">
        <div class="faq-logo"><a href="" style="color:black">FEP</a></div>
      </div>
      <div>
          <div style="float:right;">
            <img src="assets/fep/images/faq1.png" style="width: 608px;height: 1229px;">
            </div>
            <div>
                <div style="padding:1rem; font-weight: bold;font-size: 130%">
                    Frequently Asked Questions
                </div>
                <div style="padding:1rem;font-weight: bold;font-size: 106%">1. Course Structure of the FEP courses
                </div>
                <div style="padding:1rem;">All courses in the FEP are self-paced, allowing the reader, and not the instructor, to be in the driver’s seat and control their learning pace. This provides higher flexibility and customization of the learning to match individual reader needs. As a result, there would be higher reflection into and retention of the concepts by the reader. Each course is followed by a timed examination to assess the conceptual understanding of the courses by the reader. This is a progressive test that consists of multiple choice type questions of varying difficulty levels from different sections of the course . Passing the test marks the successful completion of the course, which warrants an online certification from the Government of Maharashtra.
                </div>
                <div style="padding:1rem;">One of the defining features of the courses on the FEP is the adaptation of FinTech concepts and their applications in the Indian perspective. Each new concept introduced is followed by multiple supporting arguments in the form of examples from the Indian financial industry. These help the reader better relate to the real-life applications of the concept and its impact on the industry.
                  </div>
                  <div style="padding:1rem;">Another key highlight of the courses is the ‘industry snapshot’ section at the end of each course. This is a video that contains valuable insights from prominent personalities from the Indian financial or FinTech industry. The insight asks open ended and thought provoking questions to the reader and attempts to inculcate a structured approach to industry level problems as well as to developing their solutions. 
                    </div>
                    <div style="padding:1rem;font-weight: bold;font-size: 106%">2. Approach to the content of FEP courses
                      </div>
                      <div style="padding:1rem;">A key feature of the FEP, the one that makes it the most relevant to Indian readers is the approach followed for course development. Unlike other e-learning platforms, where the focus of learning is from an academic focus, the FEP courses are developed, and their content tailored, in coordination with professionals from the industry. The topics to be covered in the course 
                          modules, were selected after extensive deliberation  with 
                          professionals and influencers from the FinTech, as well as 
                          finance industry in India, to match the skills and 
                          knowledge domains that are in the most in-demand
                           in the industry. This would help the reader learn 
                          the most relevant and applicable concepts from 
                          an industry perspective, in-turn making these 
                          readers desirable candidates for employment 
                          in FinTech roles in the Indian financial industry. 
                          The FEP thus acts as a stepping stone, for students 
                          and professionals alike, to enter the FinTech field.
                          </div>
                          <div style="padding:1rem;font-weight: bold;font-size: 106%">3. Few features of the FEP courses
                            </div>
                            <div style="padding:1rem;font-weight:bold;">
                                Use of infographics, videos, intuitive design 
                                and easy navigation to facilitate learning- </div>
                                <div style="padding:1rem;">These 
                                    features are a must have as they give e-learning 
                                    courses their characteristic distinction from 
                                    traditional text-book based learning.They greatly 
                                    increase the ease of understanding and the level of 
                                    retention of concepts compared to plain text- based learning.
                                </div>
                            
                            <div style="padding:1rem;font-weight: bold;font-size: 106%">
                                Easily accessible and free content- </div>
                                <div style="padding:1rem;">The FEP courses are available 
                                    to everyone free of cost.                          
                                </div>
                            
                            <div style="padding:1rem;font-weight: bold;font-size: 106%">
                                Multiple levels of proficiency for different target groups-</div>
                                 
                                <div style="padding:1rem;">The FEP consists of courses 
                                    of varying difficulty and proficiency levels to cater to the learning needs of a wide
                                    range of target audiences.
                                    
                                </div>
                            
                            <div style="padding:1rem;font-weight: bold;font-size: 106%">
                                Simple language, multiple supporting examples and logical flow of course content-
                                </div>
                                <div style="padding:1rem;">These 
                                    features are essential for a deeper understanding of difficult concepts and to improve 
                                    comprehension. The FEP courses are based on an approach to present the course content 
                                    in the simplest and most logical way possible.
                                </div>
                                    
                                    
                            
                            <div style="padding:1rem;font-weight: bold;font-size: 106%">
                                Channels of delivery-</div>
                                <div style="padding:1rem;">The FEP is device agnostic-it is available in the form of a mobile app 
                                    as well as website for improved accessibility.                        
                                </div>
                            
                            <div style="padding:1rem;font-weight: bold;font-size: 106%;">4. Why FEP?
          
                              </div>
                              <div style="padding:1rem;">For senior year engineering and management students, the FEP is the only among e-learning platforms, that has the most relevance to an Indian reader,because it is recommended
                                  by both academia and the 
                                  industry and certified by the government.
                                </div>
                  
                </div>
          </div>
        
       
        <app-fep-footer></app-fep-footer> 
         -->


         <header id="header-home" style="background-color: #cc0000;">
                <div class="container">
                  <div class="topnav" id="myTopnav">
                    <div style="float:left;">
                      <div class="txt-fep-header"><a href="" style="border:none;color:white;">UDAY</a></div>
                      <div class="txt-edu-header">FinTech Education Platform</div>
                    </div>
                    <div>
                      <a href="/contactus" class="contact-us">Contact Us </a>
                    </div>
            
                  </div>
                  <div style="">
                    <div class="topnav-second">
                      <div>
                        <a href="/about" class="">About UDAY </a>
                      </div>
                      <div>
                        <a href="/fepcourse" class="">Courses </a>
                      </div>
                      <div>
                        <a href="/information" class="">Additional Learning </a>
                      </div>
                      <div>
                        <a href="/faq" class="">FAQs</a>
                      </div>
            
                      <div>
                        <!-- <a href="/learn" title="LOGIN">
            
                          <button type="button" class="btn login-butn">LOGIN</button>
                        </a> -->
            
                          <button type="button" class="btn login-butn" (click)="onClickAlert('login')">LOGIN</button>
                        
            
                      </div>
                      <div>
                        <!-- <a href="/signup" title="REGISTER FOR FREE">
            
                          <button type="button" class="btn register-butn">REGISTER FOR FREE</button>
                        </a> -->
                        
                                <button type="button" class="btn register-butn" (click)="onClickAlert('register')">REGISTER FOR FREE</button>
                        
            
            
                      </div>
                    </div>
            
            
            
                  </div>
            
                </div>
            
                </header>
<div style="height:100%;width:100%;">
    <div>
        <div style="padding:1rem; font-weight: bold;font-size: 130%">
            Frequently Asked Questions
        </div>
        <div style="padding:1rem;font-weight: bold;font-size: 106%">1. Why am I unable to login with my credentials?
        </div>
        <div style="padding:1rem;">
            Please enter your <b>email id as a username</b>.The email id should match with the one which you have provided
            for registration.Please write to us at <b>support@fintecheducation.com</b> for any issues.
        </div>
        <div style="padding:1rem;font-weight: bold;font-size: 106%">2. What is Uday?
        </div>
        <div style="padding:1rem;">Uday is a digital education platform that provides targeted training and knowledge resources to assist students and
            working professionals with learning about the latest FinTech concepts.
            <br>
            <br>Keeping up with the global trend of revolutionizing financial services through technology, the Government of
            Maharashtra state formulated a FinTech policy in 2018 that envisages to develop Mumbai as a Global FinTech hub
            in the coming years. The Talent and Education work stream was one of the several initiatives started to operationalize
            this policy. This work stream intended to construct a FinTech Educational Platform, which was to host easy-to-use
            educational courses covering various sought after technical, functional and miscellaneous skill-sets.
            <br>
            <br>This platform was to give aspiring students easy access to several courses in the FinTech domain; which would
            help them develop the required skills in order to be desirable candidates to work in the finance industry. This
            platform would play a crucial role in creating a growing pipeline of FinTech talent in the state- estimated 100,000
            strong workforce to be created.
        </div>
        <div style="padding:1rem;">The platform was named Uday (meaning ‘rise’ in Hindi).
        </div>

        <div style="padding:1rem;font-weight: bold;font-size: 106%">3. Who is Uday for?
        </div>
        <div style="padding:1rem;">Uday aims to act as a ‘gateway platform’ for students to enter the world of FinTech by providing basic courses in
            a very wide breadth of subject topics under the FinTech domain.
            <br>
            <br>The key target segments of the platform are envisaged to be:
            <br>
            <br>
            <div style="font-weight: bold;font-size: 106%">1.Undergraduate students- </div>
            <br>They would use Uday to learn the basics of financial as well as technical knowledge and skills. This knowledge
            would prove beneficial when working at FinTech firms at entry level positions. The FEP would target budding entrepreneurs
            by making them equipped with the basic building blocks of knowledge on which to build innovative products and
            startups.
            <br>
            <br>
            <div style="font-weight: bold;font-size: 106%">2.Postgraduate students in non- FinTech related streams- </div>
            <br>They could use the FEP to gain knowledge on subjects outside their domain, for cross-functional roles.
            <br>
            <br>
            <div style="font-weight: bold;font-size: 106%">3.Working professionals in the financial industry</div>
            <br>Financial industry professionals who have been working in traditional roles for several years could use the FEP
            to keep at pace with the new technological developments in their industry.

        </div>
        <div style="padding:1rem;font-weight: bold;font-size: 106%">4. How are the courses on Uday structured?
        </div>
        <div style="padding:1rem;">All courses on Uday are self-paced, allowing the reader, and not the instructor, to be in the driver’s seat and control
            their learning pace. This would provide higher flexibility and customization of the learning to match individual
            reader needs. As a result, there would be higher reflection into and retention of the concepts by the reader.
            Each course would be followed by an examination to assess the conceptual understanding of the course by the reader.
            This would be a progressive test that would consist of multiple choice type questions of varying difficulty levels
            from different sections of the course. Passing the test would mark the successful completion of the course. To
            incentivize readers to successfully complete courses, an online certification would also be provided at the end
            of each course, marking its completion. This certificate would be provided by Maharashtra IT Corporation Limited,
            Government of Maharashtra. This certification would act as an effective motivator for readers to register to
            Uday and develop interest in the FinTech field along the way.


        </div>



        <div style="padding:1rem;font-weight: bold;font-size: 106%;">5.What was the approach for developing the course content on Uday?

        </div>
        <div style="padding:1rem;">Courses on Uday have been developed, and their content tailored, in collaboration with professionals from the industry
            and educational institutions. The topics to be covered in the course modules, have been selected after extensive
            deliberation with professionals and influencers from the FinTech, as well as finance industry in India, to match
            the skills and knowledge domains that are in the most demand in the industry. Reputed faculty from participating
            institutes, specializing in the FinTech domain, have acted in an advisory role for course content development
            and pedagogy review.
            <br>
            <br>This has led to the development of specific courses that will help the reader learn the most relevant and applicable
            concepts from an industry perspective, in-turn making these readers desirable candidates for employment in FinTech
            roles in the Indian financial industry. Uday thus acts as a stepping stone for students and professionals alike,
            to enter the FinTech field.

        </div>
        <div style="padding:1rem;font-weight: bold;font-size: 106%;">6.How do I sign up to Uday?

        </div>
        <div style="padding:1rem;">To sign up, you can visit www.fintecheducation.com, Uday’s official website. Register on Uday to get easy access
            and regular updates on your favorite content and FinTech discussions. Find the register button on the main page
            and enter a few basic details for the creation of your user. Post that, you will enter your personal home page
            where you can access your favorite courses and new additions.

        </div>
        <div style="padding:1rem;font-weight: bold;font-size: 106%;">7.Is there an Uday App?

        </div>
        <div style="padding:1rem;">Currently, Uday does not have a mobile application but it would be out soon.

        </div>
        <div style="padding:1rem;font-weight: bold;font-size: 106%;">8.What are the courses available on Uday?

        </div>
        <div style="padding:1rem;">There is currently 1 course available on Uday - FinTech Level 1 - with the following modules:
            <br>
            <br>1. Introduction to FinTech
            <br>2. Technology in FinTech
            <br>3. Digital Banking
            <br>4. Digital Payments
            <br>5. Digital Lending
            <br>6. Cyber security in FinTech
            <br>
            <br>Each of these modules is approx. 2 hours in duration.

        </div>
        <div style="padding:1rem;font-weight: bold;font-size: 106%;">9.How are the courses on Uday priced?

        </div>
        <div style="padding:1rem;">All courses in the first phase are beginner level courses, and are free of cost.

        </div>
        <div style="padding:1rem;font-weight: bold;font-size: 106%;">10.How do I register for a course?

        </div>
        <div style="padding:1rem;">Post logging in, on your Uday home page, various available courses would appear. Among these, the courses that have
            been assigned to you would appear in the ‘My courses’ section. Click on any of the courses from this section
            to access the course topics.

        </div>
        <div style="padding:1rem;font-weight: bold;font-size: 106%;">11.How do I resume a course?

        </div>
        <div style="padding:1rem;">On your home screen, all your previously read courses would be listed in the ‘My courses’ section. Select the course
            you want to continue reading and it would resume at the subject topic you left at.

        </div>
        <div style="padding:1rem;font-weight: bold;font-size: 106%;">12.Is there an assessment for each course?

        </div>
        <div style="padding:1rem;">Each course on the platform would have a multiple choice type test at the end. Your score in this test would be displayed
            on your certificate. You can only take the test for a course once- your first score would be printed on your
            certificate.

        </div>
        <div style="padding:1rem;font-weight: bold;font-size: 106%;">13.How do I access my certificate?

        </div>
        <div style="padding:1rem;">Once you successfully complete a course, a ‘Download certificate’ option would appear above the course window- you
            can access your certificate whenever you like. Your certificate would mark your course completion and display
            your test score.

        </div>
        <div style="padding:1rem;font-weight: bold;font-size: 106%;">14.Where can I use my Uday certificate??

        </div>
        <div style="padding:1rem;">The courses on Uday are certified by the Maharashtra Government and thus could be used as valid certificate on your
            resume. Since the certification is in topics from the FinTech domain, financial institutions, banks and FinTech
            firms would value this certification the most.

        </div>
        <div style="padding:1rem;font-weight: bold;font-size: 106%;">15.What is the comments tab?

        </div>
        <div style="padding:1rem;">Using the ‘comments’ option, you can post subject related queries or insights and get answers or peer opinions on
            them. Faculty members from your institutes would also participate in the discussions. It is a useful tool to
            network with FinTech enthusiasts from various educational institutes from the state.

        </div>
        <div style="padding:1rem;font-weight: bold;font-size: 106%;">16. I’m not able to access my course content due to a ‘fetching error’. What do I do?

        </div>
        <div style="padding:1rem;">UThis type of error occurs when you are logged in on multiple devices using the same login credentials. Please log
            out from the devices you are not using at the moment.

        </div>
        <div style="padding:1rem;font-weight: bold;font-size: 106%;">17.For any queries, who do I reach out to?

        </div>
        <div style="padding:1rem;">Write to us at 'support@fintecheducation.com’ for any issues related to Uday. Your queries would be resolved over email. You can also reach out to,
            <br>
            <br>Rahul Kankaria
            <br>FinTech lead,
            <br>Maharashtra IT Corporation limited, 
            <br>Government of Maharashtra, 
            <br>7th Floor, World Trade Center One,
            <br>Cuffe Parade, Mumbai


        </div>



    </div>
</div>