<!-- 

       <div class="six wide tablet computer only column padding-top-1rem" style="background-color:lightgrey;">
        <div class="faq-logo"><a href="" style="color:black">FEP</a></div>
      </div>
      <div>
          <div style="float:right;">
            <img src="assets/fep/images/faq1.png" style="width: 608px;height: 1229px;">
            </div>
            <div>
                <div style="padding:1rem; font-weight: bold;font-size: 130%">
                    Frequently Asked Questions
                </div>
                <div style="padding:1rem;font-weight: bold;font-size: 106%">1. Course Structure of the FEP courses
                </div>
                <div style="padding:1rem;">All courses in the FEP are self-paced, allowing the reader, and not the instructor, to be in the driver’s seat and control their learning pace. This provides higher flexibility and customization of the learning to match individual reader needs. As a result, there would be higher reflection into and retention of the concepts by the reader. Each course is followed by a timed examination to assess the conceptual understanding of the courses by the reader. This is a progressive test that consists of multiple choice type questions of varying difficulty levels from different sections of the course . Passing the test marks the successful completion of the course, which warrants an online certification from the Government of Maharashtra.
                </div>
                <div style="padding:1rem;">One of the defining features of the courses on the FEP is the adaptation of FinTech concepts and their applications in the Indian perspective. Each new concept introduced is followed by multiple supporting arguments in the form of examples from the Indian financial industry. These help the reader better relate to the real-life applications of the concept and its impact on the industry.
                  </div>
                  <div style="padding:1rem;">Another key highlight of the courses is the ‘industry snapshot’ section at the end of each course. This is a video that contains valuable insights from prominent personalities from the Indian financial or FinTech industry. The insight asks open ended and thought provoking questions to the reader and attempts to inculcate a structured approach to industry level problems as well as to developing their solutions. 
                    </div>
                    <div style="padding:1rem;font-weight: bold;font-size: 106%">2. Approach to the content of FEP courses
                      </div>
                      <div style="padding:1rem;">A key feature of the FEP, the one that makes it the most relevant to Indian readers is the approach followed for course development. Unlike other e-learning platforms, where the focus of learning is from an academic focus, the FEP courses are developed, and their content tailored, in coordination with professionals from the industry. The topics to be covered in the course 
                          modules, were selected after extensive deliberation  with 
                          professionals and influencers from the FinTech, as well as 
                          finance industry in India, to match the skills and 
                          knowledge domains that are in the most in-demand
                           in the industry. This would help the reader learn 
                          the most relevant and applicable concepts from 
                          an industry perspective, in-turn making these 
                          readers desirable candidates for employment 
                          in FinTech roles in the Indian financial industry. 
                          The FEP thus acts as a stepping stone, for students 
                          and professionals alike, to enter the FinTech field.
                          </div>
                          <div style="padding:1rem;font-weight: bold;font-size: 106%">3. Few features of the FEP courses
                            </div>
                            <div style="padding:1rem;font-weight:bold;">
                                Use of infographics, videos, intuitive design 
                                and easy navigation to facilitate learning- </div>
                                <div style="padding:1rem;">These 
                                    features are a must have as they give e-learning 
                                    courses their characteristic distinction from 
                                    traditional text-book based learning.They greatly 
                                    increase the ease of understanding and the level of 
                                    retention of concepts compared to plain text- based learning.
                                </div>
                            
                            <div style="padding:1rem;font-weight: bold;font-size: 106%">
                                Easily accessible and free content- </div>
                                <div style="padding:1rem;">The FEP courses are available 
                                    to everyone free of cost.                          
                                </div>
                            
                            <div style="padding:1rem;font-weight: bold;font-size: 106%">
                                Multiple levels of proficiency for different target groups-</div>
                                 
                                <div style="padding:1rem;">The FEP consists of courses 
                                    of varying difficulty and proficiency levels to cater to the learning needs of a wide
                                    range of target audiences.
                                    
                                </div>
                            
                            <div style="padding:1rem;font-weight: bold;font-size: 106%">
                                Simple language, multiple supporting examples and logical flow of course content-
                                </div>
                                <div style="padding:1rem;">These 
                                    features are essential for a deeper understanding of difficult concepts and to improve 
                                    comprehension. The FEP courses are based on an approach to present the course content 
                                    in the simplest and most logical way possible.
                                </div>
                                    
                                    
                            
                            <div style="padding:1rem;font-weight: bold;font-size: 106%">
                                Channels of delivery-</div>
                                <div style="padding:1rem;">The FEP is device agnostic-it is available in the form of a mobile app 
                                    as well as website for improved accessibility.                        
                                </div>
                            
                            <div style="padding:1rem;font-weight: bold;font-size: 106%;">4. Why FEP?
          
                              </div>
                              <div style="padding:1rem;">For senior year engineering and management students, the FEP is the only among e-learning platforms, that has the most relevance to an Indian reader,because it is recommended
                                  by both academia and the 
                                  industry and certified by the government.
                                </div>
                  
                </div>
          </div>
        
       
        <app-fep-footer></app-fep-footer> 
         -->


         <div class="six wide tablet computer only column padding-top-5rem" style="background-color:lightgrey;">
                <div class="faq-logo"><a href="" style="color:black">UDAY</a></div>
              </div>
              <div style="height:100%;width:100%;">
              <div style="background-repeat: no-repeat;background-image: url('assets/fep/images/faq1_50_50.png'); background-size: cover;">
                <div style="padding:1rem; font-weight: bold;font-size: 130%">
                        Frequently Asked Questions
                    </div>
                    <div style="padding:1rem;font-weight: bold;font-size: 106%">1. Course Structure of the FEP courses
                    </div>
                    <div style="padding:1rem;">All courses in the FEP are self-paced, allowing the reader, and not the instructor, to be in the driver’s seat and control their learning pace. This provides higher flexibility and customization of the learning to match individual reader needs. As a result, there would be higher reflection into and retention of the concepts by the reader. Each course is followed by a timed examination to assess the conceptual understanding of the courses by the reader. This is a progressive test that consists of multiple choice type questions of varying difficulty levels from different sections of the course . Passing the test marks the successful completion of the course, which warrants an online certification from the Government of Maharashtra.
                    </div>
                    <div style="padding:1rem;">One of the defining features of the courses on the FEP is the adaptation of FinTech concepts and their applications in the Indian perspective. Each new concept introduced is followed by multiple supporting arguments in the form of examples from the Indian financial industry. These help the reader better relate to the real-life applications of the concept and its impact on the industry.
                      </div>
                      <div style="padding:1rem;">Another key highlight of the courses is the ‘industry snapshot’ section at the end of each course. This is a video that contains valuable insights from prominent personalities from the Indian financial or FinTech industry. The insight asks open ended and thought provoking questions to the reader and attempts to inculcate a structured approach to industry level problems as well as to developing their solutions. 
                        </div>
                        <div style="padding:1rem;font-weight: bold;font-size: 106%">2. Approach to the content of FEP courses
                          </div>
                          <div style="padding:1rem;">A key feature of the FEP, the one that makes it the most relevant to Indian readers is the approach followed for course development. Unlike other e-learning platforms, where the focus of learning is from an academic focus, the FEP courses are developed, and their content tailored, in coordination with professionals from the industry. The topics to be covered in the course 
                              modules, were selected after extensive deliberation  with 
                              professionals and influencers from the FinTech, as well as 
                              finance industry in India, to match the skills and 
                              knowledge domains that are in the most in-demand
                               in the industry. This would help the reader learn 
                              the most relevant and applicable concepts from 
                              an industry perspective, in-turn making these 
                              readers desirable candidates for employment 
                              in FinTech roles in the Indian financial industry. 
                              The FEP thus acts as a stepping stone, for students 
                              and professionals alike, to enter the FinTech field.
                              </div>
                              <div style="padding:1rem;font-weight: bold;font-size: 106%">3. Few features of the FEP courses
                                </div>
                                <div style="padding:1rem;font-weight:bold;">
                                    Use of infographics, videos, intuitive design 
                                    and easy navigation to facilitate learning- </div>
                                    <div style="padding:1rem;">These 
                                        features are a must have as they give e-learning 
                                        courses their characteristic distinction from 
                                        traditional text-book based learning.They greatly 
                                        increase the ease of understanding and the level of 
                                        retention of concepts compared to plain text- based learning.
                                    </div>
                                
                                <div style="padding:1rem;font-weight: bold;font-size: 106%">
                                    Easily accessible and free content- </div>
                                    <div style="padding:1rem;">The FEP courses are available 
                                        to everyone free of cost.                          
                                    </div>
                                
                                <div style="padding:1rem;font-weight: bold;font-size: 106%">
                                    Multiple levels of proficiency for different target groups-</div>
                                     
                                    <div style="padding:1rem;">The FEP consists of courses 
                                        of varying difficulty and proficiency levels to cater to the learning needs of a wide
                                        range of target audiences.
                                        
                                    </div>
                                
                                <div style="padding:1rem;font-weight: bold;font-size: 106%">
                                    Simple language, multiple supporting examples and logical flow of course content-
                                    </div>
                                    <div style="padding:1rem;">These 
                                        features are essential for a deeper understanding of difficult concepts and to improve 
                                        comprehension. The FEP courses are based on an approach to present the course content 
                                        in the simplest and most logical way possible.
                                    </div>
                                        
                                        
                                
                                <div style="padding:1rem;font-weight: bold;font-size: 106%">
                                    Channels of delivery-</div>
                                    <div style="padding:1rem;">The FEP is device agnostic-it is available in the form of a mobile app 
                                        as well as website for improved accessibility.                        
                                    </div>
                                
                                <div style="padding:1rem;font-weight: bold;font-size: 106%;">4. Why FEP?
              
                                  </div>
                                  <div style="padding:1rem;">For senior year engineering and management students, the FEP is the only among e-learning platforms, that has the most relevance to an Indian reader,because it is recommended
                                      by both academia and the 
                                      industry and certified by the government.
                                    </div>
                        
              </div>
              </div>
          
              
              
         