<div class="six wide tablet computer only column padding-top-1rem" style="background-color:lightgrey;">
  <div class="about-logo"><a href="" style="color:black">UDAY</a></div>
</div>
<!-- <div>
    <div style="float:right;">
      <img src="assets/fep/images/ContactUs.png" style="height: 27em;">
      </div>
      <div>
          <div style="padding:1rem; font-weight: bold;font-size: 130%">
              Contact
          </div>
          <div style="padding:1rem;">
            <img src="assets/fep/images/mahaITLogo.png">           
          </div>
          <div style="padding:1rem;">
            MAHARASHTRA INFORMATION TECHNOLOGY 
            CORPORATION LIMITED            
          </div>
          <div style="padding:1rem;">
            World Trade Centre, 7th Floor, 
            Centre 1, Cuffe Parade             
          </div>
          <div style="padding:1rem;">
            Mumbai City, Maharashtra, India, 400032 
            TEL : +91 22 22026534 Fax : +91 22 2815087 <br>
            Email : info.mahait[at]mahait[dot]org 
            Website : www.mahait.org             
      
          </div>
          </div>
    </div> -->
    <div style="width:100%;height:100%">
        <div style="float:right;width:50%;height: inherit;">
            <img src="assets/fep/images/Photo_RGB_PC_ 446.jpg" style="min-height: 100%">
            </div>
            <div>
                <div style="padding:2rem; font-weight: bold;font-size: 130%">
                    Contact
                </div>
                <div style="padding:2rem;float:left;width:50%;">
                  <img src="assets/fep/images/mahaITLogo.png">           
                </div>
                <div style="padding:1rem;font-weight:bold;font-size:106%">
                    MAHARASHTRA INFORMATION TECHNOLOGY 
                    CORPORATION LIMITED            
                  </div>
                  <div style="padding:1rem;font-weight:bold">
                      World Trade Centre, 7th Floor, 
                      Centre 1, Cuffe Parade             
                    </div>
                    <div style="padding:1rem;font-weight:bold">
                        Mumbai City, Maharashtra, India, 400032 
                        TEL : +91 22 22026534 Fax : +91 22 2815087 <br>
                        Email : info.mahait[at]mahait[dot]org 
                        Website : www.mahait.org             
                  
                      </div>


    </div>
    </div>
  
 
  <app-fep-footer></app-fep-footer>
