<header id="header-home" style="background-color: #cc0000;">
		<div class="container">
			<div class="topnav" id="myTopnav">
        
				<div style="float:left;">
            <div class="txt-fep-header"><a href="" style="border:none;color:white;">UDAY</a></div>
					<div class="txt-edu-header">FinTech Education Platform</div>
        </div>
      
				<div>
					<a href="/contactus" class="contact-us">Contact Us </a>
				</div>

			</div>
			<div style="">
				<div class="topnav-second">
					<div>
						<a href="/about" class="">About UDAY </a>
					</div>
					<div>
						<a href="/fepcourse" class="">Courses </a>
					</div>
					<div>
						<a href="/information" class="">Additional Learning </a>
					</div>
					<div>
						<a href="/faq" class="">FAQs</a>
					</div>

					<div>
						<a href="/learn" title="LOGIN">

							<button type="button" class="btn login-butn">LOGIN</button>
						</a>


					</div>
					<div>
						<!-- <a href="/signup" title="REGISTER FOR FREE">

							<button type="button" class="btn register-butn">REGISTER FOR FREE</button>
						</a> -->

					<button type="button" class="btn register-butn">REGISTER FOR FREE</button>
						


					</div>
				</div>



			</div>

		</div>

	</header>
<!-- <div>
    <div style="float:right;">
      <img src="assets/fep/images/ContactUs.png" style="height: 27em;">
      </div>
      <div>
          <div style="padding:1rem; font-weight: bold;font-size: 130%">
              Contact
          </div>
          <div style="padding:1rem;">
            <img src="assets/fep/images/mahaITLogo.png">           
          </div>
          <div style="padding:1rem;">
            MAHARASHTRA INFORMATION TECHNOLOGY 
            CORPORATION LIMITED            
          </div>
          <div style="padding:1rem;">
            World Trade Centre, 7th Floor, 
            Centre 1, Cuffe Parade             
          </div>
          <div style="padding:1rem;">
            Mumbai City, Maharashtra, India, 400032 
            TEL : +91 22 22026534 Fax : +91 22 2815087 <br>
            Email : info.mahait[at]mahait[dot]org 
            Website : www.mahait.org             
      
          </div>
          </div>
    </div> -->
<div style="width:100%;height:100%">
  <div style="float:right;width:50%;height: inherit;">
    <img src="assets/fep/images/Photo_RGB_PC_ 446.jpg" style="min-height: 100%">
  </div>
  <div>
    <div style="padding:2rem; font-weight: bold;font-size: 130%">
      Contact
    </div>
    <div style="padding:2rem;float:left;width:50%;">
      <img src="assets/fep/images/mahaITLogo.png">
    </div>
    <div style="padding:1rem;font-weight:bold;font-size:106%">
      MAHARASHTRA INFORMATION TECHNOLOGY CORPORATION LIMITED
    </div>
    <div style="padding:1rem;font-weight:bold">
      World Trade Centre, 7th Floor, Centre 1, Cuffe Parade
    </div>
    <div style="padding:1rem;font-weight:bold">
      Mumbai City, Maharashtra, India, 400032 TEL : +91 22 22026534 Fax : +91 22 2815087
      <br> Email : support[at]fintecheducation[dot]com Website : www.mahait.org

    </div>


  </div>
</div>


<div  class="footer-uday">
    <div style="float:left;margin-left: 1em;margin-top:3em;">
        <div class="txt-fep" style="color:black">UDAY</div>
        <div class="txt-edu" style="color:black;margin-left: 1.7em;">Email : support@fintecheducation.com
        </div>
      </div>

      <div class="row-footer">
          <div class="column">
              <div style="background-image: url('assets/fep/images/GoM.png');margin-top: 2em;
              margin-left: 7em;" class="logo-img-footer"></div>
          </div>
          <div class="column">
              <div style="background-image: url('assets/fep/images/MFH.png');margin-top: 3em;
              margin-left: -3em;" class="logo-img-footer"></div>
          </div>
          <div class="column">
              <div style="background-image: url('assets/fep/images/PwC_fl_160mmh_c.jpg');margin-top: 1.6em;
              margin-left: -3em;" class="logo-img-footer"></div>
          </div>
          <div class="column">
              <div style="margin-left: -13em;font-size:120%;margin-top: -3.5em;font-family: sans-serif;">Powered by</div>
          </div>
          
        </div>

        <div style="float:right;">
            <div class="">
              <a href="https://www.facebook.com/uday.fintech.3" target="_blank">
                <div style="background-image: url('images/facebook_logos_PNG19751.png');margin-top: 4em;
                margin-left: 13em;" class="logo-img-homefooter"></div>
                <!-- <i class="fa fa-facebook-f" style="color:white;font-size:31px;margin-top: 0.3em;
                          margin-left: 0.4em;"></i> -->
                          
              </a>
            </div>
          </div>

</div>