.carousel {
    position: relative; }
  
  .carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden; }
  
  .carousel-item {
    position: relative;
    display: none;
    align-items: center;
    width: 100%;
    transition: transform 0.6s ease;
    backface-visibility: hidden;
    perspective: 1000px; }
  
  .carousel-item.active,
  .carousel-item-next,
  .carousel-item-prev {
    display: block; }
  
  .carousel-item-next,
  .carousel-item-prev {
    position: absolute;
    top: 0; }
  
  .carousel-item-next.carousel-item-left,
  .carousel-item-prev.carousel-item-right {
    transform: translateX(0); }
    @supports (transform-style: preserve-3d) {
      .carousel-item-next.carousel-item-left,
      .carousel-item-prev.carousel-item-right {
        transform: translate3d(0, 0, 0); } }
  
  .carousel-item-next,
  .active.carousel-item-right {
    transform: translateX(100%); }
    @supports (transform-style: preserve-3d) {
      .carousel-item-next,
      .active.carousel-item-right {
        transform: translate3d(100%, 0, 0); } }
  
  .carousel-item-prev,
  .active.carousel-item-left {
    transform: translateX(-100%); }
    @supports (transform-style: preserve-3d) {
      .carousel-item-prev,
      .active.carousel-item-left {
        transform: translate3d(-100%, 0, 0); } }
  
  .carousel-control-prev,
  .carousel-control-next {
    position: absolute;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3%;
    color: #fff;
    text-align: center;
    opacity: 1; }
    .carousel-control-prev:hover, .carousel-control-prev:focus,
    .carousel-control-next:hover,
    .carousel-control-next:focus {
      color: #fff;
      text-decoration: none;
      outline: 0;
      opacity: .9; }
  
  .carousel-control-prev {
    left: 0; }
  
  .carousel-control-next {
    right: 0; }
  
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: transparent no-repeat center center;
    background-size: 100% 100%; }
  
  .carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E"); }
  
  .carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E"); }
  
  .carousel-indicators {
    position: absolute;
    right: 0;
    bottom: 10px;
    left: 0;
    z-index: 15;
    display: flex;
    justify-content: center;
    padding-left: 0;
    margin-right: 3%;
    margin-left: 3%;
    list-style: none; }
    .carousel-indicators li {
      position: relative;
      flex: 0 1 auto;
      width: 30px;
      height: 3px;
      margin-right: 3px;
      margin-left: 3px;
      text-indent: -999px;
      background-color: rgba(255, 255, 255, 0.5); }
      .carousel-indicators li::before {
        position: absolute;
        top: -10px;
        left: 0;
        display: inline-block;
        width: 100%;
        height: 10px;
        content: ""; }
      .carousel-indicators li::after {
        position: absolute;
        bottom: -10px;
        left: 0;
        display: inline-block;
        width: 100%;
        height: 10px;
        content: ""; }
    .carousel-indicators .active {
      background-color: #fff; }
  
  .carousel-caption {
    position: absolute;
    right: 15%;
    bottom: 20px;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center; }
    .jumbotron-wrap {
      color: #f8f9fa;
      margin-bottom: 1rem;
      background-color: #797979;
      background-attachment: fixed;
      /* background-image: linear-gradient(to top, rgba(255,255,255,.1) 0%, rgba(3, 35, 23, 0.7) 100%), url(assets/images/learn-image-new.jpg); */
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      box-shadow: 2px 2px 10px #9f9f9f;
      height:220px;
      }
    
    .jumbotron-wrap .jumbotron {
      background: transparent;
      margin-bottom: 0; }
    
    .jumbotron-wrap h1, .jumbotron-wrap .h1 {
     /* color: #f8f9fa !important;*/
      color:#ffffff!important;
      font-size: 1.9rem !important;
      font-weight: 800!important;
    }
    

    .no-slider {
      margin-bottom: 2rem; }
    
    .jumbotron-wrap h2, .jumbotron-wrap .h2 {
      text-transform: uppercase;
      font-weight: 400;
      color: #fff; }
      
.text-center {
  text-align: center !important; }

  p.text-center.copy{
    color:#fff!important;
  }
    
  
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  color: #666666;
  font-weight: bold; }

    
    