<div [appTelemetryImpression]="telemetryImpression">
    <header id="header">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
                <div class="container"> <a class="navbar-brand js-scroll-trigger" href="javascript:"><img
                            src="./assets/nuih/img/nuih-logo.jpg" width="385" height="64" alt=""></a>
                    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                        data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                        aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
                    <div class="collapse navbar-collapse" id="navbarResponsive">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item"> <a class="nav-link js-scroll-trigger nav-active" href="/nuis" style="white-space:nowrap">About
                                    Us</a> </li>
                            <li class="nav-item"> <a class="nav-link js-scroll-trigger" href="/lms">Learn</a>
                            </li>
                            <li class="nav-item"> <a class="nav-link js-scroll-trigger" href="/innovate">Innovate</a>
                            </li>
                            <li class="nav-item"> <a class="nav-link js-scroll-trigger" href="/iudx" style="white-space:nowrap">Data
                                    Exchange</a>
                            </li>
                            <li class="nav-item"> <a class="nav-link js-scroll-trigger" href="/smartgov" style="white-space:nowrap">Smart
                                    Governance</a> </li>
                            <li class="nav-item"> <a class="btn btn-primary" href="/home">Sign In/Up</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    <!-- #header -->

    <!--==========================
      Intro Section
    ============================-->
    <section id="intro" class="landing-banner">
        <div class="intro-content">
            <div class="container">
                <h2>LET'S BUILD<br>
                    SMARTCITIES TOGETHER </h2>
                <p>An initiative by MoUHA for acceleratin Smart Cities development by<br>
                    bringing Government and Industries together</p>
            </div>
        </div>
        <div id="intro-carousel" class="owl-carousel">
            <div class="item" style="background-image: url('img/intro-carousel/1.jpg');"></div>
            <div class="item" style="background-image: url('img/intro-carousel/1.jpg');"></div>
            <div class="item" style="background-image: url('img/intro-carousel/1.jpg');"></div>
            <div class="item" style="background-image: url('img/intro-carousel/1.jpg');"></div>
            <div class="item" style="background-image: url('img/intro-carousel/1.jpg');"></div>
        </div>
    </section>
    <!-- #intro -->

    <main id="main">

        <!--==========================
        About Section
      ============================-->
        <section id="about" class="wow fadeInUp">
            <div class="container">
                <div class="row">
                    <div class="col-lg-2 content">
                        <h2 class="border-btm">Get Inspired</h2>
                        <p>Latest Stories of success<br>
                            and updates from urban <br>
                            India.</p>
                    </div>
                    <div class="col-lg-10">
                        <div class="container"><!--
                            <div *ngFor="let section of inspiredCarouselData">
                                <app-page-section (visits)="prepareVisits($event)" (playEvent)="playContent($event)" [section]="section"></app-page-section>
                            </div>-->
                            <div id="demo2" class="carousel slide" data-ride="carousel">

                                
                                <ul class="carousel-indicators mb-0 pb-0">
                                    <li data-target="#demo" data-slide-to="0" class="active"></li>
                                    <li data-target="#demo" data-slide-to="1"></li>
                                    <li data-target="#demo" data-slide-to="2"></li>
                                </ul>

                                
                                <div class="carousel-inner no-padding ">
                                    

                                    <a class="carousel-control-prev" href="#demo2" data-slide="prev"> <span
                                            class="carousel-control-prev-icon sp"></span> </a> <a
                                        class="carousel-control-next" href="#demo2" data-slide="next"> <span
                                            class="carousel-control-next-icon sp"></span> </a>
                                    <div class="carousel-item active">
                                        <div class="col-xs-12 col-sm-12 col-md-12"> <a href="javascript:"
                                                onclick=abc(this) class="slider_info"> <img
                                                    class="img-fluid card-img-top" src="./assets/nuih/img/sldier1.jpg">
                                            </a>
                                            <div class="silder-content pull-left">
                                                <p><b>SUCCESS STORIES</b></p>
                                                <p><b>Waste Management Programme in Shivalik Nagar, Haridwar.</b></p>
                                                <p>This is a case study of Shivalik Nagar near Haridwar,a CSR (ITC)
                                                    supported Solid...</p>
                                                <p class="bottom-text">20 January</p>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-12"> <a href="javascript:"
                                                onclick=abc(this) class="slider_info"> <img
                                                    class="img-fluid card-img-top rounded-bottom"
                                                    src="./assets/nuih/img/sldier2.jpg"> </a>
                                            <div class="silder-content pull-left">
                                                <p><b>SUCCESS STORIES</b></p>
                                                <p><b>Waste Management Programme in Shivalik Nagar, Haridwar.</b></p>
                                                <p>This is a case study of Shivalik Nagar near Haridwar,a CSR (ITC)
                                                    supported Solid...</p>
                                                <p class="bottom-text">20 January</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="carousel-item">
                                        <div class="col-xs-12 col-sm-12 col-md-12"> <a href="javascript:"
                                                onclick=abc(this) class="slider_info"> <img
                                                    class="img-fluid card-img-top" src="./assets/nuih/img/sldier1.jpg">
                                            </a>
                                            <div class="silder-content pull-left">
                                                <p><b>SUCCESS STORIES</b></p>
                                                <p><b>Waste Management Programme in Shivalik Nagar, Haridwar.</b></p>
                                                <p>This is a case study of Shivalik Nagar near Haridwar,a CSR (ITC)
                                                    supported Solid...</p>
                                                <p class="bottom-text">20 January</p>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-12"> <a href="javascript:"
                                                onclick=abc(this) class="slider_info"> <img
                                                    class="img-fluid card-img-top rounded-bottom"
                                                    src="./assets/nuih/img/sldier2.jpg"> </a>
                                            <div class="silder-content pull-left">
                                                <p><b>SUCCESS STORIES</b></p>
                                                <p><b>Waste Management Programme in Shivalik Nagar, Haridwar.</b></p>
                                                <p>This is a case study of Shivalik Nagar near Haridwar,a CSR (ITC)
                                                    supported Solid...</p>
                                                <p class="bottom-text">20 January</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="pull-right viewall"><a href="javascript:" class="view">View All</a> <i
                                            class="fa fa-long-arrow-right" aria-hidden="true"></i></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- #about -->

        <!--==========================
        How it works Section
      ============================-->
        <section id="testimonials" class="wow fadeInUp">
            <div class="container">
                <div class="section-header">
                    <h2>How it works?</h2>
                </div>
                <div class="owl-carousel testimonials-carousel">
                    <div class="testimonial-item"> <img src="./assets/nuih/img/sr.jpg" class="testimonial-img" alt=""
                            width="auto">
                        <h3>Explore<br>
                            Opportunities</h3>
                        <p> Explore multiple innovation opportunities
                            posted for industries,startups and
                            academians by the Smart City CEO

                        </p>
                        <div class="pull-right learn">Learn More</div>
                    </div>
                    <div class="testimonial-item"> <img src="./assets/nuih/img/sr2.jpg" class="testimonial-img" alt=""
                            width="auto">
                        <h3>Explore<br>
                            Opportunities</h3>
                        <p> Explore multiple innovation opportunities
                            posted for industries,startups and
                            academians by the Smart City CEO

                        </p>
                        <div class="pull-right learn">Learn More</div>
                    </div>
                    <div class="testimonial-item"> <img src="./assets/nuih/img/sr3.jpg" class="testimonial-img" alt=""
                            width="auto">
                        <h3>Explore<br>
                            Opportunities</h3>
                        <p> Explore multiple innovation opportunities
                            posted for industries,startups and
                            academians by the Smart City CEO

                        </p>
                        <div class="pull-right learn">Learn More</div>
                    </div>
                </div>
                <div class="row text-center">
                    <div class="col">
                        <div class="counter">
                            <h2 class="timer count-title count-number" data-to="200" data-speed="1500">+</h2>
                            <p class="count-text ">Innovation Challenges</p>
                        </div>
                    </div>
                    <div class="col">
                        <div class="counter">
                            <h2 class="timer count-title count-number" data-to="100" data-speed="1500">+</h2>
                            <p class="count-text ">Industry Participants</p>
                        </div>
                    </div>
                    <div class="col">
                        <div class="counter">
                            <h2 class="timer count-title count-number" data-to="1000" data-speed="1500">+</h2>
                            <p class="count-text ">Knowledge Resources</p>
                        </div>
                    </div>
                    <div class="col">
                        <div class="counter">
                            <h2 class="timer count-title count-number" data-to="1000" data-speed="1500">+</h2>
                            <p class="count-text ">Successful Collaboration</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- #testimonials -->

        <!--==========================
        Opportunity
      ============================-->
        <section id="about" class="wow fadeInUp">
            <div class="container">
                <div class="row">
                    <div class="col-lg-2 content">
                        <h2 class="border-btm">New<br>
                            Opportunity</h2>
                        <p>Opportunity for Industries and smart cities to connect with </p>
                    </div>
                    <div class="col-lg-10">
                        <div class="container">
                            <div *ngFor="let section of opportunitiesCarouselData">
                                <app-page-section (visits)="prepareVisits($event)" (playEvent)="playContent($event)" [section]="section"></app-page-section>
                            </div>

                            <!-- <div id="demo" class="carousel slide" data-ride="carousel">

                                
                                <ul class="carousel-indicators mb-0 pb-0">
                                    <li data-target="#demo" data-slide-to="0" class="active"></li>
                                    <li data-target="#demo" data-slide-to="1"></li>
                                    <li data-target="#demo" data-slide-to="2"></li>
                                </ul>

                                
                                <div class="carousel-inner no-padding ">
                                    

                                    <a class="carousel-control-prev" href="#demo" data-slide="prev"> <span
                                            class="carousel-control-prev-icon sp"></span> </a> <a
                                        class="carousel-control-next" href="#demo" data-slide="next"> <span
                                            class="carousel-control-next-icon sp"></span> </a>
                                    <div class="carousel-item active">
                                        <div class="col-xs-4 col-sm-4 col-md-4 pull-left"> <a href="javascript:"
                                                onclick=abc(this) class="slider_info"> <img
                                                    class="img-fluid card-img-top" src="./assets/nuih/img/smart.jpg"
                                                    width="305px"> </a>
                                            <div class="silder-content oppor">
                                                <p><b>Light up the path</b></p>
                                                <p>Looking for innovation ides on solar lighting the streets of Nagoan
                                                    Village...</p>
                                                <p class="bottom-text opport">20 Days to go<span
                                                        class="pull-right paticipate">Participate</span></p>
                                            </div>
                                        </div>
                                        <div class="col-xs-4 col-sm-4 col-md-4 pull-left"> <a href="javascript:"
                                                onclick=abc(this) class="slider_info"> <img
                                                    class="img-fluid card-img-top" src="./assets/nuih/img/smart2.jpg"
                                                    width="305px"> </a>
                                            <div class="silder-content oppor">
                                                <p><b>Light up the path</b></p>
                                                <p>Looking for innovation ides on solar lighting the streets of Nagoan
                                                    Village...</p>
                                                <p class="bottom-text opport">20 Days to go<span
                                                        class="pull-right paticipate">Participate</span></p>
                                            </div>
                                        </div>
                                        <div class="col-xs-4 col-sm-4 col-md-4 pull-left"> <a href="javascript:"
                                                onclick=abc(this) class="slider_info"> <img
                                                    class="img-fluid card-img-top" src="./assets/nuih/img/smart3.jpg"
                                                    width="305px"> </a>
                                            <div class="silder-content oppor">
                                                <p><b>Light up the path</b></p>
                                                <p>Looking for innovation ides on solar lighting the streets of Nagoan
                                                    Village...</p>
                                                <p class="bottom-text opport">20 Days to go<span
                                                        class="pull-right paticipate">Participate</span></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="carousel-item">
                                        <div class="col-xs-4 col-sm-4 col-md-4 pull-left"> <a href="javascript:"
                                                onclick=abc(this) class="slider_info"> <img
                                                    class="img-fluid card-img-top" src="./assets/nuih/img/smart.jpg"
                                                    width="305px"> </a>
                                            <div class="silder-content oppor">
                                                <p><b>Light up the path</b></p>
                                                <p>Looking for innovation ides on solar lighting the streets of Nagoan
                                                    Village...</p>
                                                <p class="bottom-text opport">20 Days to go<span
                                                        class="pull-right paticipate">Participate</span></p>
                                            </div>
                                        </div>
                                        <div class="col-xs-4 col-sm-4 col-md-4 pull-left"> <a href="javascript:"
                                                onclick=abc(this) class="slider_info"> <img
                                                    class="img-fluid card-img-top" src="./assets/nuih/img/smart2.jpg"
                                                    width="305px"> </a>
                                            <div class="silder-content oppor">
                                                <p><b>Light up the path</b></p>
                                                <p>Looking for innovation ides on solar lighting the streets of Nagoan
                                                    Village...</p>
                                                <p class="bottom-text opport">20 Days to go<span
                                                        class="pull-right paticipate">Participate</span></p>
                                            </div>
                                        </div>
                                        <div class="col-xs-4 col-sm-4 col-md-4 pull-left"> <a href="javascript:"
                                                onclick=abc(this) class="slider_info"> <img
                                                    class="img-fluid card-img-top" src="./assets/nuih/img/smart3.jpg"
                                                    width="305px"> </a>
                                            <div class="silder-content oppor">
                                                <p><b>Light up the path</b></p>
                                                <p>Looking for innovation ides on solar lighting the streets of Nagoan
                                                    Village...</p>
                                                <p class="bottom-text opport">20 Days to go<span
                                                        class="pull-right paticipate">Participate</span></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="pull-right viewall"><a href="javascript:" class="view">View All</a> <i
                                            class="fa fa-long-arrow-right" aria-hidden="true"></i></div>
                                </div>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- #call-to-action -->

        <!--==========================
        Our Team Section
      ============================-->
        <section id="team" class="wow fadeInUp">
            <div class="container">
                <div class="section-header grow">
                    <div class="col-md-9 col-lg-9 pull-left">
                        <h2 class="grow-hd">Grow Your
                            Network</h2>
                        <p>A platform to connect with Smart city CEOs, Industries, Startups, Academians for the urban
                            sector
                            in india which can connect Cities, Training and Research Institutes, Funding Organisations
                            and
                            the Private Industry. </p>
                    </div>
                    <div class="col-md-3 col-lg-3 pull-left">
                        <div class="col">
                            <div class="counter gr-ctn">
                                <h2 class="timer count-title count-number" data-to="100" data-speed="1500">200</h2>
                                <p class="count-text ">Smart City Projects</p>
                            </div>
                        </div>
                        <div class="col">
                            <div class="counter gr-ctn">
                                <h2 class="timer count-title count-number" data-to="500" data-speed="1500">200</h2>
                                <p class="count-text ">Startups</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- #team -->

        <section id="about" class="wow fadeInUp">
            <div class="container">
                <div class="row">
                    <div class="col-lg-2 content">
                        <h2 class="border-btm">Popular<br>
                            Courses</h2>
                        <p>Opportunity for Industries and smart cities to connect with </p>
                    </div>
                    <div class="col-lg-10">
                        <div class="container">
                            <div class="ui grid margin-bottom-0 hidden-section">
                                <div class="twelve wide column">
                                  <app-prominent-filter appTelemetryInteract [telemetryInteractEdata]="filterIntractEdata" *ngIf="filterType"
                                    [filterEnv]="filterType" [ignoreQuery]="['key', 'language']" [redirectUrl]="redirectUrl"
                                    [accordionDefaultOpen]=true [isShowFilterLabel]=true [showSearchedParam]=true [isShowFilterLabel]=true
                                    [hashTagId]="hashTagId"></app-prominent-filter>
                                </div>
                              </div>

                              <div *ngFor="let section of booksCarouselData">
                                <app-page-section (visits)="prepareVisits($event)" (playEvent)="playContent($event)" [section]="section"></app-page-section>
                              </div>
                              <div class="twelve wide column" *ngIf="showLoader">
                                <app-loader [data]='loaderMessage'></app-loader>
                              </div>
                              <div *ngIf="noResult && !showLoader">
                                <app-no-result [data]="noResultMessage"></app-no-result>
                              </div>
                                <!-- <div id="demo3" class="carousel slide" data-ride="carousel">

                                <ul class="carousel-indicators mb-0 pb-0">
                                    <li data-target="#demo" data-slide-to="0" class="active"></li>
                                    <li data-target="#demo" data-slide-to="1"></li>
                                    <li data-target="#demo" data-slide-to="2"></li>
                                </ul>

                                <div class="carousel-inner no-padding ">

                                    <a class="carousel-control-prev" href="#demo3" data-slide="prev"> <span
                                            class="carousel-control-prev-icon sp"></span> </a> <a
                                        class="carousel-control-next" href="#demo3" data-slide="next"> <span
                                            class="carousel-control-next-icon sp"></span> </a>
                                    <div class="carousel-item active">
                                        <div class="col-xs-4 col-sm-4 col-md-4 pull-left"> <a href="javascript:"
                                                onclick=abc(this) class="slider_info"> <img
                                                    class="img-fluid card-img-top" src="./assets/nuih/img/smart.jpg"
                                                    width="305px"> </a>
                                            <div class="silder-content oppor">
                                                <p><b>Light up the path</b></p>
                                                <p>Looking for innovation ides on solar lighting the streets of Nagoan
                                                    Village...</p>
                                                <p class="bottom-text opport">20 Days to go<span
                                                        class="pull-right paticipate">Participate</span></p>
                                            </div>
                                        </div>
                                        <div class="col-xs-4 col-sm-4 col-md-4 pull-left"> <a href="javascript:"
                                                onclick=abc(this) class="slider_info"> <img
                                                    class="img-fluid card-img-top" src="./assets/nuih/img/smart2.jpg"
                                                    width="305px"> </a>
                                            <div class="silder-content oppor">
                                                <p><b>Light up the path</b></p>
                                                <p>Looking for innovation ides on solar lighting the streets of Nagoan
                                                    Village...</p>
                                                <p class="bottom-text opport">20 Days to go<span
                                                        class="pull-right paticipate">Participate</span></p>
                                            </div>
                                        </div>
                                        <div class="col-xs-4 col-sm-4 col-md-4 pull-left"> <a href="javascript:"
                                                onclick=abc(this) class="slider_info"> <img
                                                    class="img-fluid card-img-top" src="./assets/nuih/img/smart3.jpg"
                                                    width="305px"> </a>
                                            <div class="silder-content oppor">
                                                <p><b>Light up the path</b></p>
                                                <p>Looking for innovation ides on solar lighting the streets of Nagoan
                                                    Village...</p>
                                                <p class="bottom-text opport">20 Days to go<span
                                                        class="pull-right paticipate">Participate</span></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="carousel-item">
                                        <div class="col-xs-4 col-sm-4 col-md-4 pull-left"> <a href="javascript:"
                                                onclick=abc(this) class="slider_info"> <img
                                                    class="img-fluid card-img-top" src="./assets/nuih/img/smart.jpg"
                                                    width="305px"> </a>
                                            <div class="silder-content oppor">
                                                <p><b>Light up the path</b></p>
                                                <p>Looking for innovation ides on solar lighting the streets of Nagoan
                                                    Village...</p>
                                                <p class="bottom-text opport">20 Days to go<span
                                                        class="pull-right paticipate">Participate</span></p>
                                            </div>
                                        </div>
                                        <div class="col-xs-4 col-sm-4 col-md-4 pull-left"> <a href="javascript:"
                                                onclick=abc(this) class="slider_info"> <img
                                                    class="img-fluid card-img-top" src="./assets/nuih/img/smart2.jpg"
                                                    width="305px"> </a>
                                            <div class="silder-content oppor">
                                                <p><b>Light up the path</b></p>
                                                <p>Looking for innovation ides on solar lighting the streets of Nagoan
                                                    Village...</p>
                                                <p class="bottom-text opport">20 Days to go<span
                                                        class="pull-right paticipate">Participate</span></p>
                                            </div>
                                        </div>
                                        <div class="col-xs-4 col-sm-4 col-md-4 pull-left"> <a href="javascript:"
                                                onclick=abc(this) class="slider_info"> <img
                                                    class="img-fluid card-img-top" src="./assets/nuih/img/smart3.jpg"
                                                    width="305px"> </a>
                                            <div class="silder-content oppor">
                                                <p><b>Light up the path</b></p>
                                                <p>Looking for innovation ides on solar lighting the streets of Nagoan
                                                    Village...</p>
                                                <p class="bottom-text opport">20 Days to go<span
                                                        class="pull-right paticipate">Participate</span></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="pull-right viewall"><a href="javascript:" class="view">View All</a> <i
                                            class="fa fa-long-arrow-right" aria-hidden="true"></i></div>
                                </div>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!--==========================
        Contact Section
      ============================-->
        <section id="contact" class="wow fadeInUp">
            <div class="container">
                <div class="section-header text-center">
                    <h2>About Us</h2>
                    <p>NUIH ( National Urban Innovation Hub ) is an initiative of the Ministry of Housing and Urban<br>
                        Affairs to support the development of cities across India...
                    </p>
                    <div class="about-learn">Learn More</div>
                </div>

            </div>


        </section>
        <!-- #contact -->

    </main>

    <!--==========================
      Footer
    ============================-->
    <footer id="footer">
        <div class="container">
            <nav class="navbar navbar-expand-lg" id="mainNav2">
                <div class="container"> <a class="navbar-brand js-scroll-trigger" href="javascript:"><img
                            src="./assets/nuih/img/footer-logo.jpg" width="433" height="118" alt=""></a>
                    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                        data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                        aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
                    <div class="collapse navbar-collapse blue" id="navbarResponsive">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item"> <a class="nav-link js-scroll-trigger " href="javascript:">About Us</a>
                            </li>
                            <li class="nav-item"> <a class="nav-link js-scroll-trigger" href="javascript:">Learn</a>
                            </li>
                            <li class="nav-item"> <a class="nav-link js-scroll-trigger" href="javascript:">Innovate</a>
                            </li>
                            <li class="nav-item"> <a class="nav-link js-scroll-trigger" href="javascript:">Data
                                    Exchange</a>
                            </li>
                            <li class="nav-item"> <a class="nav-link js-scroll-trigger" href="javascript:">Smart
                                    Governance</a>
                            </li>

                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </footer>
    <!-- #footer -->

    <a href="javascript:" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
</div>
