<header id="header-home" style="background-color: #cc0000;">
        <div class="container">
          <div class="topnav" id="myTopnav">
            <div style="float:left;">
              <div class="txt-fep-header"><a href="" style="border:none;color:white;">UDAY</a></div>
              <div class="txt-edu-header">FinTech Education Platform</div>
            </div>
            <div>
              <a href="/contactus" class="contact-us">Contact Us </a>
            </div>
            <div>
                <a href="https://accounts.google.com/ServiceLogin/signinchooser?service=wise&passive=1209600&continue=https%3A%2F%2Fdocs.google.com%2Fforms%2Fd%2Fe%2F1FAIpQLSd2yhFuC7MDp46chJnpyQ98xS8yFcSrsUvxLn_diyrJqQ6nmQ%2Fviewform%3Fusp%3Dsf_link&followup=https%3A%2F%2Fdocs.google.com%2Fforms%2Fd%2Fe%2F1FAIpQLSd2yhFuC7MDp46chJnpyQ98xS8yFcSrsUvxLn_diyrJqQ6nmQ%2Fviewform%3Fusp%3Dsf_link&ltmpl=forms&flowName=GlifWebSignIn&flowEntry=ServiceLogin"
                 class="active-link">Explore Career Opportunities</a>
            </div>
    
          </div>
          <div style="">
            <div class="topnav-second">
              <div>
                <a href="/about" class="">About UDAY </a>
              </div>
              <div>
                <a href="/fepcourse" class="">Courses </a>
              </div>
              <div>
                <a href="/information" class="">Additional Learning </a>
              </div>
              <div>
                <a href="/faq" class="">FAQs</a>
              </div>
    
              <div>
                <!-- <a href="/learn" title="LOGIN">
    
                  <button type="button" class="btn login-butn">LOGIN</button>
                </a> -->
    
                  <button type="button" class="btn login-butn" (click)="onClickAlert('login')">LOGIN</button>
                
    
              </div>
              <div>
                <!-- <a href="/signup" title="REGISTER FOR FREE">
    
                  <button type="button" class="btn register-butn">REGISTER FOR FREE</button>
                </a> -->
                
                        <button type="button" class="btn register-butn" (click)="onClickAlert('register')">REGISTER FOR FREE</button>
                
    
    
              </div>
            </div>
    
    
    
          </div>
    
        </div>
    
        </header>
<div style="width:100%;height:100%;">
    <section id="" class="wow fadeInUp">
        <!-- <div class="container popular-courses-container"> -->
            <div>
            <div class="row">
                <!-- <div class="col-lg-2 content">
                    <h2 class="border-btm">Popular Courses</h2>
                    <p>Access the latest knowledge on various sectors under urban domain</p>
                    <div class="pull-left viewall"><a href="javascript:" (click)="redirectToUrl('comingsoon')"
                            class="view">View All</a> <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                    </div>
                </div> -->
                <div class="col-lg-10">
                    <div class="container">
                        <!-- <div class="ui grid margin-bottom-0 hidden-section">
                            <div class="twelve wide column">
                                <app-prominent-filter appTelemetryInteract
                                    [telemetryInteractEdata]="filterIntractEdata" *ngIf="filterType"
                                    [filterEnv]="filterType" [ignoreQuery]="['key', 'language']"
                                    [redirectUrl]="redirectUrl" [accordionDefaultOpen]=true [isShowFilterLabel]=true
                                    [showSearchedParam]=true [isShowFilterLabel]=true [hashTagId]="hashTagId">
                                </app-prominent-filter>
                            </div>
                        </div> -->

                        <!-- <div *ngFor="let section of booksCarouselData">
                            <app-page-section (visits)="prepareVisits($event)" (playEvent)="playContent($event)"
                                [section]="section"></app-page-section>
                        </div>
                        <div class="twelve wide column" *ngIf="showLoader">
                            <app-loader [data]='loaderMessage'></app-loader>
                        </div>
                        <div *ngIf="noResult && !showLoader">
                            <app-no-result [data]="noResultMessage"></app-no-result>
                        </div> -->

                        <div class="col-lg-5">
                                <div class="testimonial-item">
                                        <img src="assets/fep/images/Course image.png" class="testimonial-img" alt="" width="100%">
                                    </div>

                        </div>
                       
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<div  class="footer-uday">
        <div style="float:left;margin-left: 1em;margin-top:3em;">
            <div class="txt-fep" style="color:black">UDAY</div>
            <div class="txt-edu" style="color:black;margin-left: 1.7em;">Email : support@fintecheducation.com
            </div>
          </div>

          <div class="row-footer">
              <div class="column">
                  <div style="background-image: url('assets/fep/images/GoM.png');margin-top: 2em;
                  margin-left: 7em;" class="logo-img-footer"></div>
              </div>
              <div class="column">
                  <div style="background-image: url('assets/fep/images/MFH.png');margin-top: 3em;
                  margin-left: -3em;" class="logo-img-footer"></div>
              </div>
              <div class="column">
                  <div style="background-image: url('assets/fep/images/PwC_fl_160mmh_c.jpg');margin-top: 1.6em;
                  margin-left: -3em;" class="logo-img-footer"></div>
              </div>
              <div class="column">
                  <div style="margin-left: -13em;font-size:120%;margin-top: -3.5em;font-family: sans-serif;">Powered by</div>
              </div>
              
            </div>

            <div style="float:right;">
                    <div class="">
                        <a href="https://www.facebook.com/uday.fintech.3" target="_blank">
                            <div style="background-image: url('images/facebook_logos_PNG19751.png');margin-top: 4em;
                            margin-left: 13em;" class="logo-img-homefooter"></div>
                            <!-- <i class="fa fa-facebook-f" style="color:white;font-size:31px;margin-top: 0.3em;
                                                margin-left: 0.4em;"></i> -->
                                                
                        </a>
                    </div>
                </div>
    
  </div>