<section>
  <div class="col-xxxs-12">
  <div class="transition" style="background-repeat: no-repeat;background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('images/Stocksy_txp0e558a6aKr4200_OriginalDelivery_673525.jpg'); background-size: cover;height:623px;">
    <div class="col-xxxs-2 padding30">
        <div class="txt-fep">UDAY</div>
        <div class="txt-edu">FinTech Education Platform</div>

    </div>
    <div class="col-xxxs-6 padding55 margint14 text-white">
        <div style="font-size:241%;font-weight:bold;text-shadow: 0 0 5px grey;">EDUCATE ENGAGE EMPOWER</div>
        <div style="font-size: 113%;" class="margint14">Relevant and impactful education is key to empower the young generation to lead meaningful change in the world.
        </div>
        <div style="font-size: 113%;">Uday aims to provide students free access to academic and practical industry knowledge in FinTech to develop
          <br>a new generation of skilled workers and innovators in the country.
        </div>

    </div>
    <div class=" col-xxxs-10 wow fadeInUp" style="margin-top:100px">
        <div class="navbar-collapse" style="background-color:initial;">
            <ul class="navbar-nav ml-auto" style="flex-direction: row;">

              <li>
                <div class="about-div">
                  <i class="fa fa-user" style="margin-left: 14px;font-size: 31px;margin-top: 7px;padding: 2px;"></i>
                </div>
                <a href="/about" title="About">
                  <span class="about-span">About</span>
                </a>
              </li>

              <li>
                <div class="contact-div">
                  <i class="fa fa-address-book" style="margin-left: 13px;
                      font-size: 31px;
                      margin-top: 10px;
                      padding: 1px;"></i>
                </div>
                <a href="/contactus" title="Contact">
                  <span class="contact-span">Contact</span>
                </a>
              </li>
              <li>
                <div class="contact-div">
                  <i class="glyphicon glyphicon-book" style="margin-left: 11px;font-size: 31px;margin-top: 11px;
                        padding: 0px;"></i>
                </div>
                <a href="/fepcourse" title="Courses">
                  <span class="contact-span">Courses</span>
                </a>
              </li>
              <li>
                <div class="contact-div">
                  <i class="glyphicon glyphicon-question-sign" style="margin-left: 13px;font-size: 31px;margin-top: 11px;
                          padding: 0px;"></i>
                </div>
                <a href="/faq" title="FAQs">
                  <span class="faq-span">FAQs</span>
                </a>
              </li>
              <li>
                <div class="add-div">
                  <i class="glyphicon glyphicon-info-sign" style="margin-left: 13px;font-size: 31px;margin-top: 11px;
                            padding: 0px;"></i>
                </div>
                <a href="/information" title="Additional Learning">
                  <span class="add-span">Additional Learning</span>
                </a>
              </li>
              
            </ul>
          

    </div>
  </div>
    
  </div>
  </div>
</section >
<section class="wow fadeInUp">

</section>
<section class="wow fadeInUp">

</section>

<section class="wow fadeInUp">

  </section>
  <app-fep-footer></app-fep-footer>