<div class="six wide tablet computer only column padding-top-1rem" style="background-color:lightgrey;">
    <div class="about-logo"><a href="" style="color:black">UDAY</a></div>
  </div>
  <div>
      <div style="float:right;">
        <img src="assets/fep/images/PwC_Rep_US_Oregon_ML_1345L.jpg" style="height: 756px;">
        </div>
        <div>
            <div style="padding:1rem; font-weight: bold;font-size: 130%">
                About
            </div>
            <div style="padding:1rem;">
                Keeping up with the global trend of revolutionizing finance through technology, 
                the Government of Maharashtra state has formulated a Fintech policy that
                 envisages to develop Mumbai as a FinTech hub for India in the coming years. 
                 This hub would house several financial institutions and Fintech startups and would
                  position Mumbai as a leading center for financial services innovation. 
        
            </div>
            <div style="padding:1rem;">
                FinTech is the emerging domain of transformation of the banking and financial
                 services industry through technological intervention and includes 
                 developments such as digital banking, alternative lending, digital payments, 
                 etc. An imminent FinTech revolution has the potential to create several skilled jobs
                  in the country.
            </div>
            <div style="padding:1rem;">
                With this goal in mind, the FinTech Educational Platform (FEP) was launched, 
                which hosts e-learning modules covering various sought after technical, 
                functional and miscellaneous skill-sets. The FEP aims to prepare potential job seekers 
                and aspiring entrepreneurs to be proficient in the skills and domain knowledge required 
                in the FinTech industry in order to create an employable FinTech workforce.
        
            </div>
            <div style="padding:1rem;">
                The FEP hosts 6 courses in the FinTech and associated domains 
                currently with the launch of several more eminent. 
                The courses have been tailor made for the Indian audience and developed 
                in collaboration with several leading banking industry players. Post course completion, 
                the reader can take an assessment- on successful completion of which they would earn a 
                digital certificate from the government of Maharashtra.
        
            </div>
            <div style="padding:1rem;">
                The courses that are currently available on the platform are:
        
            </div>
            <div style="padding:1rem;">
                1.  Introduction to FinTech

            </div>
            <div style="padding:1rem;">
                2.  Technology in FinTech

            </div>
            <div style="padding:1rem;">
                3.  Digital Banking        
            </div>
            <div style="padding:1rem;">
                4.  Digital Payments       
            </div>
            <div style="padding:1rem;">
                5.  Digital Lending
          </div>
            <div style="padding:1rem;">
                6.  Security, regulation and compliance   
            </div>
            <div style="padding:1rem;">
                The readers can also gain valuable insights from industry leaders 
                through a series of 6 videos podcasts, one for each course.   
            </div>
            </div>
      </div>
    
   
    <app-fep-footer></app-fep-footer>
