<header id="header-home" style="background-color: #cc0000;">
		<div class="container">
			<div class="topnav" id="myTopnav">
				<div style="float:left;">
					<div class="txt-fep-header"><a href="" style="border:none;color:white;">UDAY</a></div>
					<div class="txt-edu-header">FinTech Education Platform</div>
				</div>
				<div>
					<a href="/contactus" class="contact-us">Contact Us </a>
				</div>

			</div>
			<div style="">
				<div class="topnav-second">
					<div>
						<a href="/about" class="">About UDAY </a>
					</div>
					<div>
						<a href="/fepcourse" class="">Courses </a>
					</div>
					<div>
						<a href="/information" class="">Additional Learning </a>
					</div>
					<div>
						<a href="/faq" class="">FAQs</a>
					</div>

					<div>
						<a href="/learn" title="LOGIN">

							<button type="button" class="btn login-butn">LOGIN</button>
						</a>

							<!-- <button type="button" class="btn login-butn" (click)="onClickAlert()">LOGIN</button> -->
						

					</div>
					<div>
						<a href="/signup" title="REGISTER FOR FREE">

							<button type="button" class="btn register-butn">REGISTER FOR FREE</button>
						</a>
						
                    <!-- <button type="button" class="btn register-butn" (click)="onClickAlert()">REGISTER FOR FREE</button> -->
						


					</div>
				</div>



			</div>

		</div>

    </header>
    <div style="background-color: white;">
<div>
    <div style="float:right;">
        <img src="assets/fep/images/PwC_Rep_US_Oregon_ML_1345L.jpg" style="height: 756px;">
    </div>
    <div>
        <div style="padding:1rem; font-weight: bold;font-size: 130%">
            About
        </div>
        <div style="padding:1rem;">
            Keeping up with the global trend of revolutionizing financial services through technology, the Government of Maharashtra
            state has formulated a FinTech policy that envisages to develop Mumbai as a FinTech hub for India in the coming
            years. This hub would house several financial institutions and FinTech startups and would position Mumbai as
            a leading center for financial services innovation.

        </div>
        <div style="padding:1rem;">
            FinTech is the emerging domain of transformation of the banking and financial services industry through technological intervention
            and includes developments such as digital banking, alternative lending, digital payments, etc. An imminent FinTech
            revolution has the potential to create several skilled jobs in the country. With this goal in mind, the FinTech
            Educational Platform (FEP) was launched, which hosts e-learning modules covering various sought after technical,
            functional and miscellaneous skill-sets. The FEP aims to prepare potential job seekers and aspiring entrepreneurs
            to be proficient in the skills and domain knowledge required in the FinTech industry in order to create an employable
            FinTech workforce.

        </div>
        <div style="padding:1rem;">
            With this goal in mind, the FinTech Educational Platform (FEP) was launched, which hosts e-learning modules covering various
            sought after technical, functional and miscellaneous skill-sets. The FEP aims to prepare potential job seekers
            and aspiring entrepreneurs to be proficient in the skills and domain knowledge required in the FinTech industry
            in order to create an employable FinTech workforce.

        </div>
        <div style="padding:1rem;">
            The FEP hosts 6 modules in the FinTech and associated domains currently with the launch of several more eminent. The modules
            have been tailor made for the Indian audience and developed in collaboration with several leading financial services
            industry players. Post course completion, the reader can take an assessment- on successful completion of which
            they would earn a digital certificate from the Government of Maharashtra.

        </div>
        <div style="padding:1rem;">
            The modules that are currently available on the platform are:

        </div>
        <div style="padding:1rem;">
            1. Introduction to FinTech

        </div>
        <div style="padding:1rem;">
            2. Technology in FinTech

        </div>
        <div style="padding:1rem;">
            3. Digital Banking
        </div>
        <div style="padding:1rem;">
            4. Digital Payments
        </div>
        <div style="padding:1rem;">
            5. Digital Lending
        </div>
        <div style="padding:1rem;">
            6. Security, regulation and compliance
        </div>
        <div style="padding:1rem;">
            The readers can also gain valuable insights from industry leaders through a series of videos provided throughout the course.
        </div>
    </div>
</div>


<div  class="footer-uday">
        <div style="float:left;margin-left: 1em;margin-top:3em;">
            <div class="txt-fep" style="color:black">UDAY</div>
            <div class="txt-edu" style="color:black;margin-left: 1.7em;">Email : support@fintecheducation.com
            </div>
          </div>

          <div class="row-footer">
              <div class="column">
                  <div style="background-image: url('assets/fep/images/GoM.png');margin-top: 2em;
                  margin-left: 7em;" class="logo-img-footer"></div>
              </div>
              <div class="column">
                  <div style="background-image: url('assets/fep/images/MFH.png');margin-top: 3em;
                  margin-left: -3em;" class="logo-img-footer"></div>
              </div>
              <div class="column">
                  <div style="background-image: url('assets/fep/images/PwC_fl_160mmh_c.jpg');margin-top: 1.6em;
                  margin-left: -3em;" class="logo-img-footer"></div>
              </div>
              <div class="column">
                  <div style="margin-left: -13em;font-size:120%;margin-top: -3.5em;font-family: sans-serif;">Powered by</div>
              </div>
              
            </div>

            <div style="float:right;">
                    <div class="">
                        <a href="https://www.facebook.com/uday.fintech.3" target="_blank">
                            <div style="background-image: url('images/facebook_logos_PNG19751.png');margin-top: 4em;
                            margin-left: 13em;" class="logo-img-homefooter"></div>
                            <!-- <i class="fa fa-facebook-f" style="color:white;font-size:31px;margin-top: 0.3em;
                                                margin-left: 0.4em;"></i> -->
                                                
                        </a>
                    </div>
                </div>
    
  </div>
</div>