<div [appTelemetryImpression]="telemetryImpression">
    <!--==========================
    Header
  ============================-->
    <header id="header">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
                <div class="container"> <a class="navbar-brand js-scroll-trigger" href="#page-top"><img
                            src="assets/nuih/img/nuih-logo.jpg" width="100%" height="100%" alt=""></a>
                    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                        data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                        aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
                    <div class="collapse navbar-collapse" id="navbarResponsive">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item"> <a class="nav-link js-scroll-trigger" href="/nuis" >Home</a> </li>
                            <li class="nav-item"> <a class="nav-link js-scroll-trigger" href="/lms">Learn</a> </li>
                            <li class="nav-item"> <a class="nav-link js-scroll-trigger" href="/innovate">Innovate</a>
                            </li>
                            <li class="nav-item"> <a class="nav-link js-scroll-trigger nav-active" href="javascript:" >Data</a> </li>
                            <li class="nav-item"> <a class="nav-link js-scroll-trigger" href="/smartgov" >Smart
                                    Governance</a> </li>
                            <li class="nav-item"> <a class="btn btn-primary" href="#">Sign In/Up</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    <!-- #header -->

    <!--==========================
          Intro Section
        ============================-->
    <section id="intro" class="data-exchange-banner-image">
        <div class="intro-content">
            <div class="container text-center">
                <!--/*<h2>LET'S CREATE<br>
              CHANGE </h2>
            <p >A platform that helps Smartcity and industries to accelerate innovation in
              Smartcities by<br>
              providing opportunities to share and participate in various innovation challenges</p>*/-->
            </div>
        </div>
        <div id="intro-carousel" class="owl-carousel">
            <div class="item" style="background-image: url('img/intro-carousel/idx.jpg');"></div>
            <div class="item" style="background-image: url('img/intro-carousel/idx.jpg');"></div>
            <div class="item" style="background-image: url('img/intro-carousel/idx.jpg');"></div>
            <div class="item" style="background-image: url('img/intro-carousel/idx.jpg');"></div>
            <div class="item" style="background-image: url('img/intro-carousel/idx.jpg');"></div>
        </div>
    </section>
    <!-- #intro -->

    <main id="main">
        <section id="team" class="wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
            <div class="container">
                <div class="section-header">
                    <h2>How does IUDX work?</h2>

                </div>
                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div class="memberid">
                            <div class="details">
                                <div class="pic"><img src="assets/nuih/img/idx1.jpg" class="testimonial-img " alt="" width="auto">
                                </div>
                                <h3>Unlocking <br>
                                    Data</h3>
                                <p>Enabling cities to unlock and extract the full potential of the vast amounts of data
                                    they generate.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="memberid">
                            <div class="details">
                                <div class="pic"><img src="assets/nuih/img/idx2.jpg" class="testimonial-img " alt="" width="auto">
                                </div>
                                <h3>Standardisation for Data Exchange</h3>
                                <p>Providing a standard mechanism to share, discover and access data from IT systems
                                    across multiple departments</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="memberid">
                            <div class="details">
                                <div class="pic"><img src="assets/nuih/img/idx3.jpg" class="testimonial-img " alt="" width="auto">
                                </div>
                                <h3>TCo-Creation and Co-Innovation</h3>
                                <p>Fostering co-creation and co-innovation and is itself a by-product of this approach.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="memberid">
                            <div class="details">
                                <div class="pic"><img src="assets/nuih/img/idx4.jpg" class="testimonial-img " alt="" width="auto">
                                </div>
                                <h3>Unleashing
                                    Innovation</h3>
                                <p>Using data to enable informed decision making, reduce operational costs and enable
                                    new AI and ML based smart solutions</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!--==========================
            Opportunity
          ============================-->

        <!-- #call-to-action -->
        <section id="testimonials" class="wow fadeInUp learn-testimonial-footer-bg">
            <div class="container">
                <div class="section-header text-center">
                    <h2>Who is IUDX for?</h2>
                    <div class="col-md-12 col-lg-12 col-sm-12">
                        <div class="row tabiudx">
                            <ul>
                                <li> <a href="#" class="activeix">Cities</a></li>
                                <li> <a href="#">Citizens</a></li>
                                <li> <a href="#">Academia</a></li>
                                <li> <a href="#">Industry</a></li>
                                <li> <a href="#">Entrepreneurs</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-7 col-lg-7 col-sm-12 pull-left">
                        <div class="content">
                            <h2 class="border-btm"><b>Enterpreneurs</b></h2>
                            <p style="font-size:18px;">By creating a standardized framework to share and access data,
                                IUDX will unleash an innovation whole new ecosystem of solution providers who will
                                beneift the citizens, the city, the administration and all the other stakeholders</p>
                            <div class="pull-left viewall"><a href="#" class="view">View All</a> <i
                                    class="fa fa-long-arrow-right" aria-hidden="true"></i></div>
                        </div>
                    </div>
                    <div class="col-md-5 col-lg-5 col-sm-12 pull-right"> <img src="assets/nuih/img/pc.jpg" width="auto"
                            height="auto" alt="" /> </div>
                </div>
                <br>
                <br>
                <br>
                <div class="row">
                    <div class="col-md-12 col-lg-12 col-sm-12 pull-right">
                        <div class="content">
                            <h2><b>How IUDX helped make a city <br>
                                    safe for Women</b></h2>
                            <h2 class="border-btm"></h2>

                        </div>
                    </div>



                </div>
                <div class="row">

                    <img src="assets/nuih/img/pc1.jpg" width="auto" height="auto" alt="" />
                </div>

            </div>
        </section>


        <!--==========================
            Contact Section
          ============================-->
          <section id="contact" class="wow fadeInUp">
                <div class="container">
                    <div class="section-header text-center row email">
                        <div class="col-lg-1 col-md-1 col-sm-1"></div>
                        <div class="col-lg-5 col-md-5 col-sm-5 pull-left blue-color">
                            <h3>Never miss a good Opportunity</h3>
                            <p class="text-align-left">Get our most important updates delivered<br> straight to your inbox
                            </p>
                        </div>
    
                        <div class="col-lg-5 col-md-5 col-sm-5 pull-left">
                            <!-- <div class="search">
                                    <input type="text" class="form-control input-sm" maxlength="64" placeholder="Search" />
                                    <button type="submit" class="btn2 btn-primary btn-sm">Search</button>
                                </div> -->
                            <div class="input-group email">
                                <input type="text" class="form-control" placeholder="Enter email id" name="search">
                                <div class="input-group-btn">
                                    <button class="btn btn-primary email" type="submit">Submit</button>
                                </div>
                            </div>
                        </div>
    
    
    
                    </div>
                </div>
            </section>
            <!-- #contact -->
    
    </main>

    <!--==========================
    Footer
  ============================-->
  <footer id="footer">
        <div class="container">
            <nav class="navbar navbar-expand-lg" id="mainNav2">
                <div class="container"> <a class="navbar-brand js-scroll-trigger" href="http://niua.org"><img
                            src="./assets/nuih/img/footer-logo.jpg" width="auto" height="auto" alt=""></a>
                    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                        data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                        aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
                    <div class="collapse navbar-collapse blue" id="navbarResponsive">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item ft"> <a href="http://smartcities.gov.in/content/"><img
                                        src="./assets/nuih/img/smrt.png" width="90px" height="auto" alt="" /></a> </li>
                            <li class="nav-item ft"> <a href="http://amrut.gov.in/"><img
                                        src="./assets/nuih/img/amrut.png" width="90px" height="auto" alt="" /></a> </li>
                            <li class="nav-item ft"> <a href="https://www.hridayindia.in/"><img
                                        src="./assets/nuih/img/hri.png" width="90px" height="auto" alt="" /></a> </li>
                            <li class="nav-item ft"> <a href="https://swachhbharatmission.gov.in/sbmcms/index.htm"><img
                                        src="./assets/nuih/img/bhrt.png" width="90px" height="auto" alt="" /></a> </li>
                            <li class="nav-item ft"><a href="https://pmaymis.gov.in/"><img src="./assets/nuih/img/m.png"
                                        width="90px" height="auto" alt="" /></a> </li>
                            <li class="nav-item ft"><a href="https://nulm.gov.in/"><img src="./assets/nuih/img/day.png"
                                        width="90px" height="auto" alt="" /></a> </li>


                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </footer>
    <!-- #footer -->

    <!-- <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a> -->

</div>
